.rotate {
  z-index: 10;
  animation: rotation 0.8s infinite linear;
  position: absolute;
  top: 250px;
  left: 970px;
  transform-origin: 48% 55%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}