.ide{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.codeText{
    background-color: rgb(0, 0, 44);
    width: 580px;   
    height: 300px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid rgb(25, 25, 25);
    margin-top: 2px;
    color: white;
    box-shadow: 2px 2px 2px 1px #2E2D50;
    font-size: 15px;
}

.output{
   background-color: rgb(0, 0, 44);
    width: 320px;
    height: 480px;
    margin-right: 40px;
    border-radius: 10px;
    border: 1px solid rgb(25, 25, 25);
    color: white;
    margin-top: 2px;
    box-shadow: 2px 2px 2px 1px #2E2D50;
}

.input{
    color: white;
    background-color: rgb(0, 0, 44);
    width: 580px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgb(25, 25, 25);
    margin-top: 2px;
    box-shadow: 2px 2px 2px 1px #2E2D50;
}

.run{
    font-size: 40px;
    color: rgb(106, 0, 130);
}

.save{
    padding-top: 4px;
    font-size: 33px;
    color: rgb(106, 0, 130);
}

.ideIcons{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    margin-left: 12px;
}

.fileName{
    color: white;
    border-radius: 25px;
    background: #2E2D50;
    width: fit-content;
    padding: 0 12px;
    font-size: 12px;
      
}

.codeText:focus, .output:focus, .input:focus {
  outline: none;
  padding-left: 3px;
}

.outputCode{
    color: white;
    margin-top: 80px;
    border-radius: 25px;
    background: #2E2D50;
    width: fit-content;
    padding: 0 12px;
    font-size: 12px;
}

.inputCode{
    color: white;
    margin-top: 5px;
    border-radius: 25px;
    background: #2E2D50;
    width: fit-content;
    padding: 0 12px;
    font-size: 12px;
}