.voiceIcon{
    color: white;
    font-size: 40px;
    background-color: rgb(106, 106, 106);
    border-radius: 50%;
    padding: 5px;
    margin-right: 3px;
    cursor: pointer;
}

.voiceContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.isFalse{
    background-color: rgb(153, 39, 165);
}